div.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, white 60%, #2E2F38 40%);
  font-family: poppins;
  font-size: 12px;
  overflow-x: hidden;
}

header.container_header {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 55px;
}
header.container_header nav ul.header_navbar {
  display: flex;
  align-items: center;
  gap: 56px;
  list-style: none;
}
header.container_header nav ul.header_navbar li a {
  text-decoration: none;
  color: black;
}
header.container_header div.header_sign {
  display: flex;
  gap: 30px;
  align-items: center;
  list-style: none;
  margin-left: auto;
  font-weight: bold;
}
header.container_header div.header_sign a.in {
  text-decoration: none;
  padding: 10px 15px;
  background-color: #FA504D;
  color: white;
}
header.container_header div.header_sign a.up {
  color: white;
  text-decoration: none;
}

section.container_texto {
  width: 52%;
  float: left;
}
section.container_texto img.texto_imagen {
  position: relative;
  width: 189px;
  top: 73px;
  left: 96px;
}
section.container_texto h1 {
  font-family: belgrano;
  font-weight: normal;
  font-size: 50px;
  margin: 0;
}
section.container_texto p.texto_p {
  background-image: url(../img/line.svg);
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: bottom;
  background-size: 2vw;
  font-size: 15px;
  color: #8E8E8E;
}
section.container_texto div.texto_boton {
  display: flex;
  padding-top: 20px;
  gap: 30px;
  align-items: center;
  list-style: none;
}
section.container_texto div.texto_boton a.texto_explore {
  text-decoration: none;
  padding: 10px 15px;
  background-color: #FA504D;
  color: white;
  padding: 10px 60px;
  font-weight: bold;
}
section.container_texto div.texto_boton a.texto_learn {
  color: #2E2F38;
  display: flex;
  align-items: center;
  gap: 6px;
}
section.container_texto div.texto_boton a.texto_learn::after {
  background-image: url("../img/Arrow.svg");
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content: "";
}

section.container_nft {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
section.container_nft img.nft_img {
  width: 400px;
  height: 400px;
}
section.container_nft div.nft_caja {
  background-color: white;
  display: flex;
  width: 462px;
  align-self: self-end;
  flex-wrap: wrap;
  position: absolute;
  text-align: center;
  right: 10px;
  top: 476px;
}
section.container_nft div.nft_caja div.caja_p1 {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
section.container_nft div.nft_caja div.caja_p1 img.icon {
  width: 50px;
  height: 50px;
}
section.container_nft div.nft_caja div.caja_p1 div.p1_texto1 {
  display: grid;
  align-content: center;
  justify-items: start;
}
section.container_nft div.nft_caja div.caja_p1 div.p1_texto1 p {
  margin: 0;
  font-size: 12px;
  color: #8E8E8E;
}
section.container_nft div.nft_caja div.caja_p1 div.p1_texto1 h2 {
  margin: 0;
  margin-top: 5px;
}
section.container_nft div.nft_caja div.caja_p1 div.p1_texto2 {
  margin-left: auto;
}
section.container_nft div.nft_caja div.caja_p1 div.p1_texto2 p {
  margin: 0;
  font-size: 12px;
  color: #8E8E8E;
}
section.container_nft div.nft_caja div.caja_p1 div.p1_texto2 h2 {
  margin: 0;
  margin-top: 5px;
}
section.container_nft div.nft_caja img.img_line {
  width: 90%;
  padding-left: 25px;
}
section.container_nft div.nft_caja div.caja_p2 {
  padding-left: 30px;
  padding-right: 25px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
section.container_nft div.nft_caja div.caja_p2 a.p2_bid {
  text-decoration: none;
  padding: 10px 15px;
  background-color: #FA504D;
  color: white;
  padding: 10px 70px;
  font-weight: bold;
}
section.container_nft div.nft_caja div.caja_p2 a.p2_view {
  text-decoration: none;
  padding: 10px 15px;
  background-color: #FA504D;
  color: white;
  background-color: white;
  color: #FA504D;
  padding: 10px 65px;
  font-weight: bold;
}
section.container_nft div.nft_estadisticas {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, 33.33%);
  width: 100%;
  padding-top: 144px;
  padding-left: 140px;
  gap: 20px;
}
section.container_nft div.nft_estadisticas div.estadisticas_p {
  display: flex;
  align-items: center;
  gap: 5px;
}
section.container_nft div.nft_estadisticas div.estadisticas_p h3 {
  font-size: 30px;
  color: #FA504D;
}
section.container_nft div.nft_estadisticas div.estadisticas_p p {
  color: white;
  font-size: 16px;
}

section.container_galeria {
  width: -moz-max-content;
  width: max-content;
  top: 483px;
  position: absolute;
}
section.container_galeria h3 {
  font-size: 20px;
}/*# sourceMappingURL=index.css.map */