$color_primario: #264065;
$color_secundario: #909090;

@mixin boton{
    padding: 10px 20px;
    background-color: #264065;
    color: white;
    border-radius: 25px;
}

body{
    font-family: poppins;
    padding: 0;
    margin: 0;
}

div.container{
    max-width: 1440px;
    padding: 15px 60px;
}


header.principal {
    position: relative;
    background-color: #FAF8F5;
    z-index: -2;

    img.principal__img{
        position: absolute;
        z-index:-1;
        width: 70%;
        right: 0;
    }

    div.container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        nav ul {
            display: flex;
            gap: 56px;
            list-style: none;
            margin-top: 5px;

            li a {
                text-decoration: none;
                color: $color_primario;
            }
        }

        div.principal__sign{
            display: flex;
            gap: 30px;
            align-items: center;

            a.sign__in{
                color: $color_primario;
                
            }

            a.sign__up{
                @include boton();
                text-decoration: none;
            }

        }



    }
}

section.inicial{
    background-color: #FAF8F5;
    position: relative;
    z-index: -3;
    padding-bottom: 70px;
    h1{
        font-size: 50px;
        width: 600px;
        margin-bottom: 0;
        color: $color_primario;
    }

    p{
        font-size: 16px;
        width: 550px;
        color: $color_secundario;
    }


    div.inicial__multimedia{
        padding-top: 20px;
        display: flex;
        gap: 40px;
        align-items: center;

        a.multimedia__libro{
            @include boton();
            text-decoration: none;
            padding: 10px 40px;
        }

        div.multimedia__a{
            display: flex;
            gap: 10px;
            a.multimedia__video{
                text-decoration: none;
                color: $color_primario;
            }

            div.multimedia__img{
                width: 30px;
                border-radius: 50%;

            }  
    }

    }
}
    
section.estadisticas{
    background-color: white;
    position: relative;
    z-index: -3;

    div.container{
        display: grid;
        padding: 0;
        grid-template-columns: repeat(3, 120px);
        gap: 50px;
        text-align: center;
        background-color: white;
        position: absolute;
        left: 60px;
        bottom: -150px;
        border-radius: 16px;

        div.estadisticas__icono{
            width: 65px;
            background-color: #A9D6CB;
            border-radius: 50%;
        }

        article.estadisticas__articulo{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 20px;

            h2{
                margin: 0;
                padding-top: 10px;
                color: $color_primario;
            }
            p{
                color: $color_secundario;
                margin: 0;
                padding-top: 10px;
            }
        }
    }
}